.App {
  text-align: center;
}

.app-header {
  background-color: #4c3d1d;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-search {}

.app-filters {}

.app-items {}

.app-footer {}
